<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title class="ion-text-center" style="font-weight: 600; font-size: 24px"
      >Pemain</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- CARD  -->
  <ion-card class="card1">
    <ion-row>
      <ion-col style="text-align: center; padding-left: 21px; padding-right: 20px;">
        <div class="title1">Penampilan</div>
        <div class="main1">46</div>
        <div class="season">2023/2024<span class="jdul"> Season</span></div>
      </ion-col>
      <ion-col style="text-align: center; padding-left: 20px; padding-right: 20px;">
        <div class="title1">Goal</div>
        <div class="main1">33</div>
        <div class="season">2023/2024<span class="jdul"> Season</span></div>
      </ion-col>
      <ion-col style="text-align: center; padding-left: 20px; padding-right: 21px;">
        <div class="title1">Asist</div>
        <div class="main1">8</div>
        <div class="season">2023/2024<span class="jdul"> Season</span></div>
      </ion-col>
    </ion-row>
  </ion-card>

  <img
    class="bg"
    style="background-image: none"
    src="assets/images/bgpemain.svg"
  />

<div>
  <ion-list class="listpemain">
    <ion-item>
      <ion-label>Tempat Lahir</ion-label><span>Warszawa, Poland</span>
    </ion-item>
    <ion-item>
      <ion-label>Tanggal Lahir</ion-label><span>21/08/1988</span>
    </ion-item>
    <ion-item>
      <ion-label>Berat Badan</ion-label><span>81 kg</span>
    </ion-item>
    <ion-item>
      <ion-label>Tinggi</ion-label><span>185 cm</span>
    </ion-item>
  </ion-list>
</div>

<div class="detailbio">
  <h3>Robert Lewandowski</h3>
  <p>Striker asal Polandia ini menonjol karena kemampuannya mencetak gol. Di dalam kotak dia memiliki semua alat untuk membuatnya menjadi striker yang sulit dibaca karena dia dapat mencetak gol dengan kepala dan kedua kakinya dengan presisi yang sama.
Kualitas teknisnya juga berarti bahwa dia juga dapat terhubung dengan baik di luar kotak. Lewandowski akan membawa gol, pengalaman, dan pengetahuan ke lini serang Barça.
Setelah delapan tahun bersama Bayern Munich, sang striker bergabung dengan Barça pada musim panas 2022. Lewandowski adalah salah satu dari lima pencetak gol terbanyak dalam sejarah Liga Champions dan urutan kedua dalam daftar Bundesliga.
Lahir pada 21 Agustus di ibu kota Polandia Warsawa, Lewandowski memulai karirnya di Legia Warsawa. Karir profesionalnya dimulai di tim yunior pada tahun 2006 di Znicz Pruszków di mana dia menjadi pencetak gol terbanyak dalam dua kesempatan terpisah.</p>
</div>

</ion-content>
