* {
    font-family: Plus Jakarta Sans;
}
.card1 {
    margin-top: 147px;
    margin-left: 28px;
    margin-right: 20px;
    position: absolute;
    border-radius: 18px;
    font-family: Plus Jakarta Sans;
    padding: 8px;
}

.title1 {
    color: #404040;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 4px;
}

.main1 {
    color: #004D97;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 4px;
    padding-bottom: 4px;
}

.season {
    color: #EDBA00;
    font-size: 9px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 4px;
}

.jdul {
    color: #404040;
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 4px;
}

.listpemain {
    margin-top: 55px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
}

.detailbio {
    word-wrap: break-word;     
    padding: 24px;     
}